{% extends 'base.html' %}
{% load index %}
{% load static %}
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
{% block content %}
    <br>
    <br>
    <br>
    <br>
      <div class="container">

<form class="" style="color: #757575;" action="/addcoursefunc/" method="POST">
        {% csrf_token %}
<div class="form-group">
    <label for="exampleFormControlInput1">Course Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary  mb-4 ">ADD</button>
</form>
</div>
    <br>
    <br>

{% endblock content %}